body{
 font-size: 30px;
 font-family:'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
 color: rgba(0, 0, 0, 0.800);
 background-color: rgb(100, 250, 250);
}
.img{
    width: 900px;
}
.r1{
    float: left;    
}
.r2{
    float: right;
    text-align: left;
    padding-top: 0%;
}
.br{
    clear:both;
}